<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>课程名称</th>
                <th>总报名人数</th>
                <th>今日增加人数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>数学课程</td>
                <td>
                    <input type="text" name="mathNum" id="number-one">
                </td>
                <td>
                    <input type="text" name="mathAdd" id="add-one">
                </td>
            </tr>
            <tr>
                <td>英语课程</td>
                <td>
                    <input type="text" name="engNum" id="number-two">
                </td>
                <td>
                    <input type="text" name="engAdd" id="add-two">
                </td>
            </tr>
            <tr>
                <td>文言文课程</td>
                <td>
                    <input type="text" name="ccNum" id="number-three">
                </td>
                <td>
                    <input type="text" name="ccAdd" id="add-three">
                </td>
            </tr>
            <tr>
                <td>免费课程</td>
                <td>
                    <input type="text" name="freeNum" id="number-four">
                </td>
                <td>
                    <input type="text" name="freeAdd" id="add-four"> </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" id="submit-button">点击添加</button>
    <script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#submit-button').on('click',function(e){
            e.preventDefault();
            $.ajax({
                url:'http://localhost:3000/addData',
                type:'get',
                dataType:'json',
                data:{
                    'mathNum':$('#number-one').val(),
                    'mathAdd':$('#add-one').val(),
                    'engNum':$('#number-two').val(),
                    'engAdd':$('#add-two').val(),
                    'ccNum':$('#number-three').val(),
                    'ccAdd':$('#add-three').val(),
                    'freeNum':$('#number-four').val(),
                    'freeAdd':$('#add-four').val(),
                },
                success:function(result){
                    // window.open('http://localhost:3000/addData');
                    console.log('success');
                },
                error:function(XHR,textStatus,errorThrown){
                    console.log(XHR.status);
                    console.log(XHR.readyState);
                    console.log(textStatus);
                }
            });
        })
    </script>
</body>

</html>
