@media screen and (max-width: 768px) {
body{
	font-size: 62.5%;
		background: #336699;
}
/*#header{
	height: 60px;
	background:#ccc;
}*/
#content{

}
#classitem{
	width: 90%;
	margin:0.5rem auto;
}
.li-title{
	background: #f8f8f8;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	text-shadow: 0px 1px #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	color: #666;
	text-align: left;
	margin:5px 0px;
	line-height: 1.2rem;
	font-size: 1.3rem;
	font-weight: 700;
	padding:0.8rem 1.5rem;
	line-height: 2.2rem;
}
#container{
	min-width: 320px;
	height: 320px;
}
#fourthclass,#thirdclass,#secondclass,#firstclass{
	display: none;
}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	body{
	background-color: #336699;
	}
.yd-class{
	position: absolute;
	right:  50px;
	top: 50px;
	width: 60%;
	z-index: 5;
}
#classitem{
	width: 30%;
	margin-left: 50px;

}
#classitem ul li{
	cursor: pointer;
	padding:16px 20px;
	font-size: 20px;
	color: #777;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #f8f8f8;
	box-shadow: inset 0px 1px 1px #fff;
}
#content{

	padding-top: 50px;
	position: relative;
}
#classitem{
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
#container{
	display: inline-block;
	width: 70%;
}
}
@media screen and (min-width: 1200px) {

body{
	background-color: #336699;
	width: 80%;
	margin:0 auto;
	}
.yd-class{
	position: absolute;
	right:  50px;
	top: 50px;
	width: 60%;
	z-index: 5;
}
#classitem{
	width: 30%;
	margin-left: 50px;

}
#classitem ul li{
	padding:16px 20px;
	font-size: 20px;
	color: #777;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #f8f8f8;
	box-shadow: inset 0px 1px 1px #fff;
}
#content{

	padding-top: 50px;
	position: relative;
}
#classitem{
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
#container{
	display: inline-block;
	width: 70%;
}
}
